<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add a new car, sucker</title>
<link rel="stylesheet" href="/app.css">
</head>
<body>

	<form method="post" action="/add_car">
		<div>
			<label>
				Make
				<input type="text" name="make" required>
			</label>
		</div>
		<div>
			<label>
				Model
				<input type="text" name="model" required>
			</label>
		</div>
		<div>
			<label>
				Year
				<input type="text" name="year" required>
			</label>
		</div>
		<button>Add this car $$$</button>
	</form>

</body>
</html>









